<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addNewPost</servlet-name>
        <servlet-class>Controller.Post.CreatePost</servlet-class>
    </servlet>
    <servlet>

        <servlet-name>ViewUserPost</servlet-name>
        <servlet-class>Controller.Post.ViewUserPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPostByStatus</servlet-name>
        <servlet-class>Controller.Post.ViewPostByStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrder</servlet-name>
        <servlet-class>Controller.Order.ViewOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateHouse</servlet-name>
        <servlet-class>Controller.Post.UpdatePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPost</servlet-name>
        <servlet-class>Controller.Post.ViewUserPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userProfile</servlet-name>
        <servlet-class>Controller.User.userProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewUserList</servlet-name>
        <servlet-class>Controller.User.viewUserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Controller.House.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Controller.House.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayOrderHisroryServlet</servlet-name>
        <servlet-class>Controller.Order.DisplayOrderHisroryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFeedbackServlet</servlet-name>
        <servlet-class>Controller.Feedback.SendFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedbackServlet</servlet-name>
        <servlet-class>Controller.Feedback.ViewFeedbackServlet</servlet-class>
        <servlet-name>ViewPost</servlet-name>
        <servlet-class>Controller.Post.ViewPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addNewPost</servlet-name>
        <url-pattern>/post/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPostByStatus</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrder</servlet-name>
        <url-pattern>/order/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateHouse</servlet-name>
        <url-pattern>/post/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPost</servlet-name>
        <url-pattern>/post/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userProfile</servlet-name>
        <url-pattern>/userProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewUserList</servlet-name>
        <url-pattern>/viewUserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search-result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayOrderHisroryServlet</servlet-name>
        <url-pattern>/display-order-history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFeedbackServlet</servlet-name>
        <url-pattern>/send-feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedbackServlet</servlet-name>
        <url-pattern>/view-feedback</url-pattern>

        <servlet-name>ViewUserPost</servlet-name>
        <url-pattern>/post/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPost</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>views/home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
