<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>updateHouse</servlet-name>
        <servlet-class>Controller.Post.UpdatePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewPost</servlet-name>
        <servlet-class>Controller.Post.CreatePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserPost</servlet-name>
        <servlet-class>Controller.Post.ViewUserPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPostByStatus</servlet-name>
        <servlet-class>Controller.Post.ViewPostByStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrder</servlet-name>
        <servlet-class>Controller.Order.ViewOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewUserList</servlet-name>
        <servlet-class>Controller.User.ViewUserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userProfile</servlet-name>
        <servlet-class>Controller.User.userProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPost</servlet-name>
        <servlet-class>Controller.Post.ViewPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking</servlet-name>
        <servlet-class>Controller.Booking.BookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRequest</servlet-name>
        <servlet-class>Controller.Booking.ViewRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProfile</servlet-name>
        <servlet-class>Controller.User.viewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUser</servlet-name>
        <servlet-class>Controller.User.updateUser</servlet-class>
        <multipart-config>
            <location>${java.io.tmpdir}</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>Controller.Post.ChangePostStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeUserStatus</servlet-name>
        <servlet-class>Controller.User.changeUserStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllPost_For_User_View</servlet-name>
        <servlet-class>Controller.Post.viewAllPost_For_User_View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillterPost</servlet-name>
        <servlet-class>Controller.Post.FillterUserPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserBooking</servlet-name>
        <servlet-class>Controller.Booking.ViewUserBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillterUserBooking</servlet-name>
        <servlet-class>Controller.Booking.FillterUserBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillterRequest</servlet-name>
        <servlet-class>Controller.Booking.FillterRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckSessionServlet</servlet-name>
        <servlet-class>Controller.CheckSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitController</servlet-name>
        <servlet-class>Controller.Booking.VisitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptBooking</servlet-name>
        <servlet-class>Controller.Booking.AcceptBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBooking</servlet-name>
        <servlet-class>Controller.Booking.CancelBooking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addNewPost</servlet-name>
        <url-pattern>/post/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateHouse</servlet-name>
        <url-pattern>/post/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrder</servlet-name>
        <url-pattern>/order/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPostByStatus</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewUserList</servlet-name>
        <url-pattern>/viewUserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userProfile</servlet-name>
        <url-pattern>/userProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserPost</servlet-name>
        <url-pattern>/post/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPost</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking</servlet-name>
        <url-pattern>/post/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRequest</servlet-name>
        <url-pattern>/request/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProfile</servlet-name>
        <url-pattern>/viewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUser</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/post/toggleStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeUserStatus</servlet-name>
        <url-pattern>/changeUserStatus</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>tickRate.handleAutoEndPost</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>viewAllPost_For_User_View</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillterPost</servlet-name>
        <url-pattern>/post/view/fillter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserBooking</servlet-name>
        <url-pattern>/booking/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillterUserBooking</servlet-name>
        <url-pattern>/booking/view/fillter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillterRequest</servlet-name>
        <url-pattern>/request/view/fillter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckSessionServlet</servlet-name>
        <url-pattern>/checkSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitController</servlet-name>
        <url-pattern>/post/visit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptBooking</servlet-name>
        <url-pattern>/booking/accept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBooking</servlet-name>
        <url-pattern>/booking/cancel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>views/home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
