/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 21, 2024, 11:39:02 PM
    Author     : FPTSHOP
*/
/* CSS */
.image-preview {
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #E0E0E0; /* Màu nền mặc định */
}



